<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>App</title>
</head>

<body>
  <p>
    <a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&state=H0S7gyRv9vRQ1NWD6q30&scope=profile%20email%20openid&client_id=77cnwgnrwonq6m&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Flinkedin%2Fcallback">
      <img src="../public/signin_with_linkedin-buttons/Non-Retina/Sign-in-Large---Active.png"/>
    </a>
  </p>
</body>

</html>